
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 380px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 20px 0;
}

.timer, .record{
  width: 128px;
  height: 64px;
  background-color: slategray;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4em;
  text-align: center;
  color: white;
}

.new-game {
  width: 64px;
  height: 64px;
  font-size: 3.2em;
  background-color: slategray;
  text-align: center;
}

.busted {
  background-color: red;
}

.winner {
  background-color: gold;
}

.field {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-cell {
  flex: 0 0 8%; 
  margin: 2px;
  border: 1px;
  border-radius: 7%;
  border-color: azure;
  border-style: solid;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
}

.footer {
  min-height: 10px;
}