*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.weather {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: black;
  opacity: 0.8;
  padding: 2.5rem;
}


.now {
  font-size: 1.5rem;
  visibility: hidden;
}

.city {
  font-size: 4.4rem;
}

.description {
  margin-left: 1rem;
  text-transform: capitalize;
}

.time {
  margin-left: 1rem;
}

.data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.big-icon {
  object-fit: none;
  object-position: center;
  width: 8.75rem;
  height: 8.75rem;
}

.now-temperature {
  display: flex;
}

.big-value {
  font-size: 7.5rem;
  margin-left: .3rem;
}

.measurement {
  align-self: baseline;
  text-overflow: ellipsis;
}

.details {
  display: flex;
  flex-flow: row wrap;  
  padding-left: 1.5rem;
  flex: 2;
}

.column {
  flex: 50%;
  white-space: nowrap;
}

.small-icon {
  height: 1.25rem;
  filter: invert(100%) sepia(73%) saturate(16%) hue-rotate(253deg) brightness(104%) contrast(103%);
}

/* Forecast section */
.forecast {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
}

.daytime {
  font-size: 1.2rem;
}
/* Background section */
.bg-lazy {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  transition: opacity 1s ease-out;
}

.bg-loading {
  opacity: 0;
}

/* Alert banner section */
.alert {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  visibility: hidden;
  height: 4rem;
  padding: 1.5rem;
  font-size: 1rem;
  vertical-align: middle;
  background-color: #f44336;
  opacity: 0.8;
  z-index: 100;
}

.alert:hover {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.alert-text {
  display: inline-block;
}

.alert-close {
  margin-left: 1rem;
  float: right;
}

.alert-close:hover {
  cursor: pointer;
  color: black;
}

/* Loader section */
.spinner {
  height: 100%;
  text-align: center;
}

.spinner > div {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media (max-width: 1024px) {
  .weather {
    padding: 0;
  }

  .weather {
    width: 100vw;
    height: 100vh;
  }

  .weather-block {
    transform: translateY(25%);
  }
}

@media (max-width: 640px) {
  .weather-block {
    transform: translateY(25%);
  }
  .big-value {
    font-size: 6.5rem;
    margin-left: .3rem;
 }
}